<script>// Filename - views/home.ejs

</script>
<h1>This is home page</h1>
<div class="buttons">
<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
</div>

<style>
h1{
    font-size: 20px;
    background-color: bisque;
}
.buttons{
font-size: 20px;
background-color: aqua;
display:flex;
}
</style>